<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title class="ion-text-center">
      <p id="note">Perfil de : <strong>{{usuario}}</strong></p>
    </ion-title>
    <ion-buttons slot="end">
      <ion-button (click)="logout()">
        <ion-icon slot="icon-only" name="power"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>


<ion-content [fullscreen]="true" >
  <ion-card color="warning">
    <ion-card-header>
      <ion-card-title>Pendientes</ion-card-title>
    </ion-card-header>
  </ion-card>

  <ion-card>    
    <ion-card-content>      
      <ion-list>
        <ion-item *ngFor="let encuesta of enProceso; ; let i = index" (click)="abrirIdEncuesta(encuesta,false)">
          <ion-grid class="encuesta-details">
            <p><strong>Id:</strong> {{ encuesta.id }}</p>
            <p><strong>Descripción:</strong> {{ encuesta.descripcionCliente }}</p>
            <p><strong>Cliente:</strong> {{ encuesta.titulo }}</p>
            <p><strong>Fecha:</strong> {{ encuesta.fechaTope }}</p>
          </ion-grid>
          <ion-icon name="arrow-forward" slot="end"></ion-icon>
        </ion-item>
      </ion-list>
    </ion-card-content>
  </ion-card>


    
    <ion-card color="success">
      <ion-card-header>
        <ion-card-title>Realizadas</ion-card-title>
      </ion-card-header>
    </ion-card>

    <ion-card>    
      <ion-card-content>
        <ion-list>
          <ion-item *ngFor="let encuesta of encuestasRealizadas; let i = index" (click)="abrirIdEncuesta(encuesta,true)" >
            <ion-grid class="encuesta-details">
              <p><strong>Id:</strong> {{ encuesta.id }}</p>
              <p><strong>Descripción:</strong> {{ encuesta.descripcionCliente }}</p>
              <p><strong>Cliente:</strong> {{ encuesta.titulo }}</p>
              <p><strong>Fecha:</strong> {{ encuesta.fechaTope }}</p>
            </ion-grid>
            <ion-icon name="arrow-forward" slot="end"></ion-icon>
          </ion-item>
        </ion-list> 
      </ion-card-content>
    </ion-card>

    <ion-card color="danger">
      <ion-card-header>
        <ion-card-title>No realizadas</ion-card-title>
      </ion-card-header>
    </ion-card>

    <ion-card>    
      <ion-card-content>
        <ion-list>
          <ion-item *ngFor="let encuesta of encuestasNoRealizadas; let i = index" (click)="abrirIdEncuesta(encuesta,false)" >
            <ion-grid class="encuesta-details">
              <p><strong>Id:</strong> {{ encuesta.id }}</p>
              <p><strong>Descripción:</strong> {{ encuesta.descripcionCliente }}</p>
              <p><strong>Cliente:</strong> {{ encuesta.titulo }}</p>
              <p><strong>Fecha:</strong> {{ encuesta.fechaTope }}</p>
            </ion-grid>
            <ion-icon name="arrow-forward" slot="end"></ion-icon>
          </ion-item>
        </ion-list> 
      </ion-card-content>
    </ion-card>

    <ion-card color="danger">
      <ion-card-header>
        <ion-card-title>Vencidas</ion-card-title>
      </ion-card-header>
    </ion-card>

    <ion-card>    
      <ion-card-content>
        <ion-list>
          <ion-item *ngFor="let encuesta of vencidas; let i = index" >
            <ion-grid class="encuesta-details">
              <p><strong>Id:</strong> {{ encuesta.id }}</p>
              <p><strong>Descripción:</strong> {{ encuesta.descripcionCliente }}</p>
              <p><strong>Titulo:</strong> {{ encuesta.titulo }}</p>
              <p><strong>Fecha:</strong> {{ encuesta.fechaTope }}</p>
            </ion-grid>
            <ion-icon name="arrow-forward" slot="end"></ion-icon>
          </ion-item>
        </ion-list> 
      </ion-card-content>
    </ion-card>
  <!-- <p id="tittle">Realizadas</p> -->
</ion-content>



<ion-footer>
  <!-- Contenido del pie de página -->
  <ion-toolbar class="ion-text-center">
    <ion-title></ion-title>
    <!-- Aquí agregamos el logo -->
    <img src="../../assets/ia7criculo.png" alt="Logo IA7" style="max-width: 50px; height: auto;">
  </ion-toolbar>
</ion-footer>
